# Python cache and build artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.venv/

# Jac intermediate artifacts
*.jir

*.jir
*.log
*.aux
*.out
*.toc
*.gz
*.fdb_latexmk
*.fls
*.synctex.gz
*.bbl
*.blg